.no-margin {
    margin: 0 !important;
}
.div-logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 300px;
    height: 80px;
}
.div-logo img{
    width: 100%;
    height: 100%;
}
.btn-globe {
    color: #fff;
    background-color: #28b8da;
    border-color: #28b8da;
}
.btn-globe:hover {
    color: #28b8da;
    background-color: #fff;
    border-color: #28b8da;
}
.btn-facebook {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}
.btn-facebook:hover {
    color: #4267b2;
    background-color: #fff;
    border-color: #4267b2;
}
.btn-instagram {
    color: #fff;
    background-color: #c13584;
    border-color: #c13584;
}
.btn-instagram:hover {
    color: #c13584;
    background-color: #fff;
    border-color: #c13584;
}
.btn-linkedin {
    color: #fff;
    background-color: #0084bf;
    border-color: #0084bf;
}
.btn-linkedin:hover {
    color: #0084bf;
    background-color: #fff;
    border-color: #0084bf;
}
footer {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e4e5e7;
}